name: Build
on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node JS 24
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Show Node/NPM versions
        run: |
          node --version
          npm --version

      - name: Install
        run: npm ci

      - name: Lint
        run: |
          npm run prettier:check
          npm run lint

      - name: Run tests
        run: |
          npm test
          npm run coverage

      - name: Build Dist
        run: npm run build

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/cobertura-coverage.xml


  build-dist:
    needs: run-tests
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Node JS 24
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install
        run: npm ci

      - name: Build Dist
        run: npm run build

      - name: Push to GitHub
        run: |
          git config user.name "builder[bot]"
          git config user.email "actions@users.noreply.github.com"
          git add dist/
          git commit -m "update dist" || exit 0
          git push origin main
